# Python
__pycache__/
*.pyc

# Virtual env
venv/
clean_env/

# Build
build/
dist/
*.spec
*.exe

# User data
data/settings.json
output/
data/*.json
data/output/
*.xlsx

# VSCode
.vscode/

# Local backup
backup/

# OS
.DS_Store
Thumbs.db
