# ===== Python =====
__pycache__/
*.pyc

# ===== 環境 =====
.env
.envs
nmr_env/

# ===== 出力 =====
output/
*.xlsx
*.docx

# ===== NMRデータ（重要）=====
input/
*.fid
*.ser
pdata/

# ===== OS =====
.DS_Store
Thumbs.db